.form-section{
    background-color:#f0f5f9;

    width:100%;
}
.form{

    max-width: 70%;
    padding: 5%;;
    margin: auto;
    text-align: center;
    background-color:#f0f5f9;
  }
.form input{
    margin:0.5vh;
    border-radius: 10px;
}

  .form .checkbox {
    font-weight: 400;
  }

  .form .form-floating:focus-within {
    z-index: 2;
  }
  .form-control{
    border-radius:0;
  }
.form button{
    margin:1vh;
}

.tablink{
    width:50%;
    background-color: #e0e5e9;
    border:0;
    height:100%;
    padding:2%;
    font-size:1em;
}
.tablink:hover{
    background-color: #f0f5f9;

}

.tablink-div{
    display:flex;

}

.tancontent{
  transition: all 0.3s ease;
}
.form{
  transition: 0s;
}

.mybt, .submit-form, .file-upload{
  background-color:#000;
  color:#e9e9e9;
  border:0;
  padding:2% 4%;
  cursor:pointer;
  margin:4%;
  border-radius: 40px;
}

.mybt:hover, .submit-form:hover, .file-upload:hover, .submit-form:active{
  background-color:#1f1f1f;
}

#file-upload form{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input[type="file"]{
  display:none;
}

.counter{
  display:flex;
  align-items: center;
  background-color: #0a0a0a;
  color:#dfdfdf;
  flex-direction: column;
  padding:3vh 2vw;
  font-size: calc(calc(3vw+3vh)/2);
}

#visits{
  font-size:300%;
}
