.form-section{
    background-color:#fafafa;


    width:100%;
}
.form{

    max-width: 70%;
    padding: 5% 0 0;
    margin: auto;
    text-align: center;
    background-color:#fafafa;
  }
.form input{
    margin:1vh 0;
    border:0px;
    border-bottom: 1px double #000;
    box-sizing: border-box;
}

  .form .checkbox {
    font-weight: 400;
  }

  .form .form-floating:focus-within {
    z-index: 2;
  }
  .form-control{
    border-radius:0;
  }
.form button{
    margin:1vh;
}

.tablink{
    width:50%;
    background-color: #f0f5f9;
    border:0;
    height:100%;
    padding:2%;
    font-size:1em;
}
.tablink:hover{
    background-color: #fafafa;

}

.tablink-div{
    display:flex;

}

.tancontent{
  transition: all 0.3s ease;
}
.form{
  transition: 0s;
}

.mybt, .submit-form, .file-upload{
  background-color:#000;
  color:#e9e9e9;
  border:0;
  padding:2% 4%;
  cursor:pointer;
  margin:4%;
  border-radius: 5px;
}

.mybt:hover, .submit-form:hover, .file-upload:hover, .submit-form:active{
  background-color:#1f1f1f;
}

#file-upload form{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input[type="file"]{
  display:none;
}

.spotlight{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-image:radial-gradient(circle,transparent 100px,rgba(0,0,0,0.95) 160px);
}
